*{
  padding:30;
  margin:30;
}

/* header h1 {
  color: white;
} */

@font-face
{
 
  font-family: "IcoFont";
font-weight: normal;
font-style: "Regular";
src: url("./fonts/icofont.woff2") format("woff2"),
url("./fonts/icofont.woff") format("woff");
}

[class^="icofont-"], [class*=" icofont-"]
{
  font-family: 'IcoFont' !important;
  speak:none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  line-height: 1;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}


.divider {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  /* drop the height to have a constant angle for all screen widths */
}

#title{
    color:#50274e;
    margin-top: 60px;
    text-align:center;
    font-family: 'Monda', sans-serif;
    font-size: 40px;
  }
  
  body{
    position: relative;
    height: 300px;
    background-image: linear-gradient(#74b4ce, #26ffff);
    }
  /* body{ */
    /* background-color: pink; */
    /* } */


    #letter{
      font-family: 'Roboto', sans-serif;
      font-size: 22px;
      color:#212121;
    }
  
  
   .buttons {
      margin: 10px;
      border-radius: 20px;
      text-decoration: none;
      padding: 5px;
      font-size: 20px;
      display: inline-block;
      color: #9e1387;
      border-bottom: 2px solid #50274e;
      width: 140px;
      height: 60px;
      text-align: center;

    }

    #btn-start{
      justify-content: center;
      margin: 0 auto;
      display: flex;
    }

    #btn-start:hover{
      background-color:#9e1387;
      color:#fff;
      border-color: none;
    }
    
    
  #second-page{
    display:none;
    text-align: center;
  }


  #message-block{
    margin:0;
    padding:0
  }

  #message, #result-message{
    width: 300px;
    height: 200px;
  }

  #btn-cipher{
    margin:20px;
  }

  #btn-decode, #btn-encode{
      display: inline-block;
      color: #9e1387;
      border-bottom: 2px solid #50274e;
     
  }

  #btn-decode:hover{
    background-color:#9e1387;
    color:#fff;
    border-color: none;
  }

  #btn-encode:hover{
    background-color:#9e1387;
    color:#fff;
    border-color: none;
  }
  

  #img-bullyng{
    width: 450px;
    height: 350px;
  }
  

 #container{
   column-count: 2;
 }

 #img{
   margin-left:110px;
   margin-top: 50px;
   border-radius: 20px;
   opacity: 1;
 }

 #text-welcome{
  padding-top: 70px;
   margin-right: 120px;
 }

 .text-second-page{
   font-size: 18px;
   color:#212121;
   font-family:  'Cinzel', cursive;
   margin:20px;
 }

 #num{
   width: 80px;
   height: 30px;
 }
 
 #thanks{
  font-family: 'Cinzel', cursive;;
 }

 #link{
  border-radius: 20px;
  text-decoration: none;
  padding: 12px;
  font-size: 15px;
  display: inline-block;
    color: #139e4d;
    border-bottom: 4px solid #67bda3;

 }
 #link:hover{
  background-color:#5fb953;
  color:#fff;
  border-color: none;
}

  