*{
  padding:30;
  margin:30;
}

#sub-title{  
font-family: 'Roboto', sans-serif;
font-size: 22px;
color:#212121;
}
 

#title{
    color:#50274e;
    margin-top: 60px;
    text-align:center;
    font-family: 'Monda', sans-serif;
    font-size: 40px;
  }
  
  body{
    position: relative;
    height: 300px;
    background-image: linear-gradient(#74b4ce, #26ffff);
    }

    #letter{
      font-family: 'Roboto', sans-serif;
      font-size: 22px;
      color:#212121;
    }
  
   .buttons {
      margin: 10px;
      border-radius: 20px;
      text-decoration: none;
      padding: 5px;
      font-size: 20px;
      display: inline-block;
      color: #9e1387;
      border-bottom: 2px solid #50274e;
      width: 140px;
      height: 60px;
      text-align: center;

    }

    #btn-start{
      justify-content: center;
      margin: 0 auto;
      display: flex;
    }

    #btn-start:hover{
      background-color:#9e1387;
      color:#fff;
      border-color: none;
    }
    
    
  #second-page{
    display:none;
    text-align: center;
  }


  #message-block{
    margin:0;
    padding:0
  }

  #message, #result-message{
    width: 300px;
    height: 200px;
  }

  #btn-cipher{
    margin:20px;
  }

  #btn-decode, #btn-encode{
      display: inline-block;
      color: #9e1387;
      border-bottom: 2px solid #50274e;
     
  }

  #btn-decode:hover{
    background-color:#9e1387;
    color:#fff;
    border-color: none;
  }

  #btn-encode:hover{
    background-color:#9e1387;
    color:#fff;
    border-color: none;
  }
  

  #img-bullyng{
    width: 450px;
    height: 350px;
  }
  

 #container{
   column-count: 2;
 }

 #img{
   margin-left:110px;
   margin-top: 50px;
   border-radius: 20px;
   opacity: 1;
 }

 #text-welcome{
  padding-top: 70px;
   margin-right: 120px;
 }

 .text-second-page{
   font-size: 18px;
   color:#212121;
   font-family:  'Cinzel', cursive;
   margin:20px;
 }

 #num{
   width: 80px;
   height: 30px;
 }
 
 #thanks{
  font-family: 'Cinzel', cursive;;
 }

 #link, #back{
  border-radius: 20px;
  text-decoration: none;
  padding: 12px;
  font-size: 15px;
  display: inline-block;
    color: #139e4d;
    border-bottom: 4px solid #67bda3;
}

#home{
  color: #67bda3;
}
 #link:hover, #back:hover{
  background-color:#5fb953;
  color:#fff;
  border-color: none;
}

  